---
import CallToAction from './CallToAction.astro'
import Logo from './LogoFooter.astro'
import { Heading, Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

import Navigation from './Navigation.astro'

import CBE from '@assets/partners/CBE.jpg'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()

// fetch nav links
const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/api/globals/nav?depth=2&draft=false&locale=undefined&trash=false`)
const nav = await res?.json()
---

<footer>
  <!-- <CallToAction /> -->
  <section class="">
    <!-- <Heading level="h2" class="sr-only">Footer</Heading> -->
    <div class="relative container flex w-full flex-col justify-between gap-8 overflow-hidden pt-16 md:gap-4 md:pb-10">
      <!-- <Heading level="h3" size="h6">Theme features</Heading> -->
      <ul class="flex flex-wrap items-center gap-8 lg:items-center">
        {nav?.["social-media"]?.["instagram-handle"] && (
          <li class="menu-item type-icon animate-rotate">
            <Link href={`https://www.instagram.com/${nav["social-media"]["instagram-handle"]}/`}>
              <Icon aria-hidden="true" name="lucide:instagram" />
              <span class="sr-only">Follow us on Instagram</span>
            </Link>
          </li>
        )}
        {nav?.items?.map((item: any) => (
          <li><Link href={item.url}>{item.title}</Link></li>
        ))}
        {nav?.["standout-link"] && (
          <li><Link href={nav["standout-link"]["standout-link-url"]}>{nav["standout-link"]["standout-link-name"]}</Link></li>
        )}
      
        <!-- <li><Link href="/mdx-page">MDX page</Link></li>
          <li><Link href="/404-page">404 page</Link></li>
          <li><Link href="/sitemap">Sitemap</Link></li> -->
      </ul>
      {nav?.address && (
        <div class="lg:my-6">
          <div class="flex gap-2">
            <div class="mt-1">
              <Icon aria-hidden="true" name="lucide:map-pin" size={20} class="shrink-0" />
            </div>
            <div>
              {nav.address.line1 || ""}
              <br />
              {nav.address.line2 || ""}
            </div>
          </div>
        </div>
      )}
      <div class="">
        <Image src={CBE} alt="" decoding="async" width={80} height={80} loading="eager" />
      </div>
      <div class="mr-auto ml-auto max-w-50 transition duration-700 ease-in-out md:hidden">
        <Logo loading="lazy" />
      </div>
      <div class="footer-logo hidden transition duration-700 ease-in-out md:block md:translate-y-32 lg:translate-y-40 md:max-w-80 lg:max-w-120">
        <Logo loading="lazy" />
      </div>
  </section>

  <style lang="scss">
    section {
      border-top: 1px solid var(--border-color-subtle);
    }

    .footer-logo {
      position: absolute;
      right: 2em;
      // transform: translateY(92%);

      &:focus-visible,
      &:hover {
        transform: translateY(-60%);
      }
    }
  </style>
</footer>
