---
import { Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import src from '@assets/images/jaydot-windows.jpg'
/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
// interface Props {
//   /**
//    * The source URL for the image
//    */
//   src?: string
// }

// const { src = '/jaydot-windows.jpg' }: Props = Astro.props
---

<section class="hero my-4 md:mt-12 md:mb-8">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-4 md:gap-4 lg:gap-8 justify-center">
      <div class="md:col-span-2 lg:col-span-2 flex flex-col gap-8 md:items-start">
        <h1 class="text-6xl/18 md:text-[112px]/25 leading-18 md:leading-25 ">
          <slot><span class="text-gradient">Human-<br />centered{" "}<br /> housing{" "}<br /> solutions{" "}<br />for DC</span></slot>
        </h1>
      </div>
      <div class="md:h-[550px] md:w-[550px] md:col-span-1 lg:col-span-1">
        <Image class="hero-image" src={src} alt="Image alt text goes here." width={800} priority />
      </div>
    </div>
    <div class="flex flex-col gap-4 lg:flex-row my-16">
          <Link class="min-w-[270px]" href="/about" isButton type="primary" animateOnHover animationType="boop">
            <Icon aria-hidden="true" name="lucide:house-heart" size="1.5rem" />
            Learn how we work
          </Link>          
          <Link class="min-w-[270px]" href="/contact" isButton type="secondary" animateOnHover animationType="boop">
            <Icon aria-hidden="true" name="lucide:mail" size="1.5rem" />
            Reach out now
          </Link>
        </div>
  </div>
</section>

<style lang="scss">
  h1 {
    text-wrap: unset;
  }

  .hero .button {
    width: 260px;
  }

  :global(.button.type-secondary) {
    border-color: var(--brand-secondary);
    background-color: var(--color-secondary-100);
    color: #000;
  }

  .hero-image {
    height: 100%;
    object-fit: cover;
  }

  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--brand-primary), var(--color-secondary-100)) 25%,
      light-dark(var(--brand-secondary), var(--color-primary-200))
    );
    background-clip: text;
    display: inline-block;
    -webkit-text-fill-color: transparent;
  }
</style>
