---
import { Link } from 'accessible-astro-components'
import { Image } from 'astro:assets'
import logo from '../assets/img/logo.png'

/**
 * Logo Component
 *
 * @description Logo description
 */
interface Props {
  /**
   * Whether to load the image eagerly or lazily
   * @default 'eager'
   */
  loading?: 'eager' | 'lazy'
}

const { loading = 'eager' }: Props = Astro.props
---

<Link class="inline-block mr-0 ml-auto" href="/">
  <Image src={logo} alt="Jaydot Logo" width={logo.width} height={logo.height} loading={loading} />
  <span class="sr-only">Jaydot</span>
</Link>

<style lang="scss">
  .--one-bounce {
    animation: bounce 1s ease-in-out; /* bounce 1s infinite */

    @keyframes bounce {
      0%,
      100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      }
      50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      }
    }
  }
</style>
