---
import Navigation from './Navigation.astro'
import { DarkMode, Link, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */

// fetch nav links
const res = await fetch(`http://localhost:3000/api/globals/nav?depth=2&draft=false&locale=undefined&trash=false`)
const nav = await res.json()

---

<header>
  <SkipLink />
  <Navigation>
    {nav.items?.map((item: any) => (
      <li class="menu-item">
        <Link href={item.url}>{item.title}</Link>
      </li>
    ))}
    <!-- <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Theme features
        <Icon aria-hidden="true" name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <Link href="/accessibility-statement">Accessibility statement</Link>
        </li>
        <li class="submenu-item">
          <Link href="/accessible-components">Accessible components</Link>
        </li>
        <li class="submenu-item">
          <Link href="/color-contrast-checker">Color contrast checker</Link>
        </li>
        <li class="submenu-item">
          <Link href="/markdown-page/">Markdown page</Link>
        </li>
        <li class="submenu-item">
          <Link href="/mdx-page/">MDX page</Link>
        </li>
        <li class="submenu-item">
          <Link href="/404-page">404 page</Link>
        </li>
        <li class="submenu-item">
          <Link href="/sitemap">Sitemap</Link>
        </li>
      </ul>
    </li> -->
    {nav["standout-link"] && (
    <li class="menu-item highlight">
      <Link href={nav["standout-link"]["standout-link-url"]}>{nav["standout-link"]["standout-link-name"]}</Link>
    </li>
    )}
    {nav["social-media"]["instagram-handle"] && (
      <li class="menu-item type-icon animate-rotate">
        <Link href={`https://www.instagram.com/${nav["social-media"]["instagram-handle"]}/`}>
          <Icon aria-hidden="true" name="lucide:instagram" />
          <span class="sr-only">Follow us on Instagram</span>
        </Link>
      </li>
    )}

    <!-- <li class="menu-item type-icon animate-rotate">
      <DarkMode>
        <Icon aria-hidden="true" name="lucide:moon" slot="light" />
        <Icon aria-hidden="true" name="lucide:sun" slot="dark" />
      </DarkMode>
    </li> -->
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }

      &:hover, &:focus-visible {
        a {
          color: var(--color-orange-500) !important;
        }
      }
    }
  }
</style>
