---
import { Accordion, AccordionItem, Card, Heading, Link, Notification } from 'accessible-astro-components'
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import CallToAction from '@components/CallToAction.astro'
import { nullable } from 'astro:schema'

// Get all portfolio projects
// const projects = await getCollection('projects')

// team members with their bios

const res = await fetch(`http://localhost:3000/api/globals/team?depth=2&draft=false&locale=undefined&trash=false`) // http://localhost:4321/api/posts by default
const team = await res.json()

---

<DefaultLayout
  title="Team"
  description="I have reset the sensors to scan for frequencies outside the usual range. By emitting harmonic vibrations to shatter the lattices."
>
  <PageHeader
    title="Our Team"
    subtitle="I have reset the sensors to scan for frequencies outside the usual range. By emitting harmonic vibrations to shatter the lattices. We will monitor and adjust the frequency of the resonators. He has this ability of instantly interpreting and extrapolating any verbal communication he hears."
    bgType="gradient"
  />

  <section class="my-16">
    <div class="container space-y-12">
      <div class="grid gap-6 lg:grid-cols-2">
        {
          team.people.map((person: any) => (
            <div class="container mb-20 flex flex-col items-center">
              {/* <Icon aria-hidden="true" name="lucide:circle-user-round" size={80} /> */}
              <Image
                class:list={[
                  person.image? 'user-circle' : '',
                ]}
                src={person.image?.url || "/user.png"}
                alt={person.image?.alt || "Placeholder user image."}
                decoding="async"
                width={300}
                height={person.image ? 300 : 200}
                loading="eager"
              />

              <div class="mt-6">
                <p>
                  <span class="text-2xl font-bold">{person.name}</span> <span class="italic">({person.pronouns})</span>
                </p>
                <Accordion>
                  <AccordionItem title={person.title} variant="chevron">
                    <div class="mt-6">{person.bio}</div>
                  </AccordionItem>
                </Accordion>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <CallToAction
      title="Want to join our team?"
      link="https://jaydot.breezy.hr"
      linkText="View openings"
      icon="users"
    />
  </section>
</DefaultLayout>

<style>
  article {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-large);
    background-color: var(--background-color);
    padding: 1rem;
  }

  .user-circle {
    clip-path: circle();
  }

</style>
